{
    # password to enter; end with "\n" to send the Enter key input
    "pc_pass": "password\n",

    # check url -- POST call is made to this URL
    "url": "...",

    # check every "pause" minutes
    "pause": 5,
    
    # authorization key (an alphanumeric string)
    "auth_key": "...",
}